.products-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.products-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.product-heading-group {
  display: flex;
  justify-content: space-between;
}

.product-item {
  width: 100%;
  border: 2px solid #c3cfd9;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.product-category,
.product-price,
.product-post-date,
.product-owner {
  text-transform: capitalize;
  color: #7f8d9b;
}

.delete-icon-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.delete-icon-image {
  width: 2rem;
  height: auto;
}

.add-product-btn {
  text-transform: none !important;
  width: 10rem !important;
  align-self: flex-end !important;
  margin-right: -1.1rem !important;
}

.warning-title {
  font-size: 2rem;
  text-align: center;
}

.datepicker-outer-container {
  display: flex;
  gap: 2rem;
}

.datepicker-inner-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.react-datepicker__input-container input {
  padding: 1rem;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  overflow: visible !important;
}

.close-page-icon {
  align-self: flex-end;
  width: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close-page-icon:hover {
  transform: scale(1.3);
}
